<div class="container">
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
<br>
<br>
          <div class="small-12 large-12 columns">
            <div ng-repeat="club in clubs" class='theClubs small-6 large-4 columns overflowHide'>
              <div class="card">
                <div >
                  <img src="{{club.image}}" style="height: auto;">
                </div>
                <div class="card-divider">
                  <h2>{{club.name}}</h2>
                </div>
                <div class="card-section">
                  <div class="small-11 large-11 columns" style="text-align: center;">
                    <ul>
                      <li>Address:</li>
                      <li>{{club.address}}</li>
                      <li>Phone Number: </li>
                      <li>{{club.phoneNumber}}</li>
                      <li><a href="{{club.url}}">Club Website</a></li>
                    </ul>
                      <div class="iconer">
                        <a href="#" class="right"><i class="fi-share"></i></a>
                        <a ng-click="favorite()" class="right like clubs"><img src="/img/like.png" alt="" /></a>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


    </div>
  </div>
</div>
