<section class="hero">
  <div class="row intro">
    <div class="small-centered medium-uncentered medium-7 large-12 columns">
      <h1>See you at the Club!</h1>
      <h2>Experience the latest fashion and hottest destinations</h2>
      <div class="small-3 small-offset-5 large-3 large-offset-5 columns">
        <a href="#" data-reveal-id="myModal" class="radius button large" style="border: 1px solid white">Login</a>
      </div>
      <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" ng-hide="hideLogin">
        <form ng-submit="login(username, password)">
           <div class="row">
             <div class="large-12 columns">
                 <input type="text" name="username" placeholder="Username" ng-model="username"/>
             </div>
           </div>
          <div class="row">
             <div class="large-12 columns">
                 <input type="password" name="password" placeholder="Password" ng-model="password"/>
             </div>
          </div>
          <div class="row">
            <div class="large-12 large-centered columns">
              <input type="submit" class="button expand blackButton" value="Log In"/>
            </div>
          </div>
        </form>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
    </div>
  </div>
</section>


<script>
$(document).foundation();
</script>
