    <script>

    $(document).ready(function() {
      setTimeout(function() {
          $('div.dijitDialogPaneActionBar').children().children().children().hide()
      $('.dijit.dijitReset.dijitInline.esriIdSubmit.dijitButton').children().val('Login')
      $('.dijit.dijitReset.dijitInline.esriIdCancel.dijitButton').children().val('Cancel')
      }, 1000)

      // $(".dijitReset.dijitInputField.dijitValidationIcon.dijitValidationInner").hide()
      // $("resLink").hide()
      // $('.serverLink').text('the map')
      $('li').on('click', function() {
        $('#esri_dijit_Search_2_input').val($(this).attr("data-id"))
        console.log($(this).data())
      });
      setTimeout(function() {
        $('.dijitReset.dijitStretch.dijitButtonContents').hide()
        $('.dijitOffScreen').first().val('login')
        $('.dijitOffScreen').last().val('cancel')
      }, 1200)
    });

    </script>
<br><br><br><br>
    <button style="z-index: 1" href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Dropdown Button</button><br>
    <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
      <li data-id="540 Howard St San Francisco, CA 94105">Temple</li>
      <li data-id="375 11th St San Francisco, CA 94103">Booty SF</li>
      <li data-id="65 Post St San Jose, CA 95113">Splash</li>
      <li data-id="119 Utah St San Francisco, CA 94103">Mighty</li>
      <li data-id="444 Jessie St San Francisco, CA 94103">Ruby Skye</li>
      <li data-id="420 Mason St San Francisco, CA 94102">Temple</li>
    </ul>


<br><br><br>

    <div data-dojo-type="dijit/layout/BorderContainer"
     data-dojo-props="design:'headline', gutters:false"
     style="width:100%;height:100%;">
      <div data-dojo-type="dijit/layout/ContentPane"
           data-dojo-props="region:'right'"
           style="width:250px;">

        <div id="dir"></div>
      </div>
      <div id="map"
           data-dojo-type="dijit/layout/ContentPane"
           data-dojo-props="region:'center'">
      </div>
    </div>
    <script>
  $(document).foundation();
</script>


<!--jbenkual  arcgis111 -->
