<div class="container">
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <br>
      <div class="small-8 large-8 columns">
        <div class="boxtwo">
          <p>Here will go whatever we click on.</p>
        </div>
      </div>
      <div class="small-3 small-offset-9 large-3 large-offset-9">
        <div class="box color small-12 large-12">
          <div class="innerbox">Tops</div>
        </div>
        <div class="box color small-12 large-12">
          <div class="innerbox">Bottoms</div>
        </div>
        <div class="box color small-12 large-12">
          <div class="innerbox">Shoes</div>
        </div>
        <div class="box color small-12 large-12">
          <div class="innerbox">Favorite Clubs</div>
        </div>
      </div>
    </div>
  </div>
</div>
