<div class="container texture">
  <div class="row">
    <br>

    <div class="small-centered large-centered small-12 large-12 columns">
        <div class="small-12 large-12 columns">
        <div class="innerbox text-center"><h1>My Collections</h1></div>

        <div class="small-12 large-6 large-offset-3 columns">
          <div class="innerbox">Favorite Clubs</div>
          <ul data-orbit>
            <li class="sliderimg">
              <img src="https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fbootiemashup.com%2Femailpix%2Fbootie_mezzanine.jpg&sig=ADR2i784BwdOSeWjVgW6fkIalmK3tPRZwg"/>
              <div class="orbit-caption">Mezzanine</div>
            </li>
            <li class="sliderimg">
              <img src="http://i40.photobucket.com/albums/e239/OurNightLifeDotCom/revolvr-temple-youredm_zpsd1068284.jpg">
              <div class="orbit-caption">Temple</div>
            </li>
            <li class="sliderimg">
              <img src="http://www.rubyskye.com/_media/ruby_skye_photo1.jpg">
              <div class="orbit-caption">Ruby Skye</div>
            </li>
          </ul>
        </div>
      </div>
      </div>


    <div class="small-12 large-12 columns">



      <div class="small centered small-12 large-5 columns large-offset-1">


        <div class="small-12 columns">
        <div class="innerbox">Tops</div>
          <ul data-orbit>
            <li class="sliderimg">
              <img src='https://secure-i6.ztat.net//detail/MA/32/2D/07/BK/11/MA322D07B-K11@18.jpg'/>
              <div class="orbit-caption">Shirt</div>
            </li>
            <li class="sliderimg">
              <img src="https://secure-i6.ztat.net//detail/OA/12/1L/01/GQ/11/OA121L01G-Q11@14.jpg">
              <div class="orbit-caption">Leather Jacket</div>
            </li>
          </ul>
        </div>

        <div class="small-12 columns">
        <div class="innerbox">Bottoms</div>
          <ul data-orbit>
            <li class="sliderimg">
              <img src="https://secure-i3.ztat.net//detail/WR/12/2G/02/0C/11/WR122G020-C11@11.jpg"/>
              <div class="orbit-caption">Jeans</div>
            </li>
            <li class="sliderimg">
              <img src="https://secure-i4.ztat.net//detail/LV/02/1B/00/1K/11/LV021B001-K11@12.jpg"/>
              <div class="orbit-caption">Skirt</div>
            </li>
            <li class="sliderimg">
              <img src='https://secure-i4.ztat.net//detail/ES/12/2E/01/4C/11/ES122E014-C11@14.jpg'>
              <div class="orbit-caption">Chinos</div>
            </li>
          </ul>
        </div>
      </div>

<div class="small centered small-12 large-5 columns large-offset-1">

      <div class="small-12 columns">
        <div class="innerbox">Dresses</div>
          <ul data-orbit style="text-align:center;">
            <li class="sliderimg">
              <img src='https://secure-i2.ztat.net//detail/AN/62/1C/A2/7I/11/AN621CA27-I11@14.jpg'/>
              <div class="orbit-caption">Dress</div>
            </li>
          </ul>
        </div>

        <div class="small-12 columns">
        <div class="innerbox">Accessories</div>
          <ul data-orbit>
            <li class="sliderimg">
              <img src="https://secure-i1.ztat.net//detail/SW/25/2E/00/HQ/11/SW252E00H-Q11@2.jpg">
              <div class="orbit-caption">Watch</div>
            </li>
            <li class="sliderimg">
              <img src="https://secure-i3.ztat.net//detail/C5/15/1J/01/H1/03/C5151J01H-103@6.jpg">
              <div class="orbit-caption">Tights</div>
            </li>
          </ul>
      </div>
</div>
</div>
  </div>
  </div>
<script>
$(document).foundation();
</script>
