<div ng-repeat="item in items" class='theItems small-6 large-3 columns'>
  <div class="card">
    <img src="http://placekitten.com/g/400/200" style="height: 300px;">
    <div class="card-divider">
      <h2>{{item.name}}</h2>
    </div>
    <div class="card-section">
      <ul>
        <li>{{item.style}}</li>
        <li>{{item.brands}}</li>
        <li>{{item.compitem}}</li>
      </ul>
    </div>
  </div>
</div>
