<div ng-repeat="item in items" class='theItems small-6 large-3 columns'>
  <div class="card">
    <img src="http://placekitten.com/g/400/200" style="height: 280px;">
    <div class="card-divider">
      <h2>{{item.name}}</h2>
    </div>
    <div class="card-section">
      <div class="small-10 small-offset-1 large-10 large-offset-1 columns">
        <ul>
          <li>{{item.style}}</li>
          <li>{{item.brands}}</li>
          <li>{{item.compitem}}</li>
        </ul>
        <button id="addCollection" class="button radius alert">Add To Collection</button>
      </div>
    </div>
  </div>
</div>
