<div class="container">
  <div class="row">
    <div class='small-12 large-12 columns'>
      <div class="small-6 large-6 columns small-offset-3 large-offset-3">
        <label>Search: <input ng-model="searchText"></label>
      </div>
    </div>

    <div class="small-12 large-12 columns">
      <div ng-repeat="item in items| filter:searchText" class='theItems small-6 large-3 columns'>
        <div class="card clothes">
          <div class="front">
            <img src="{{item.img}}" style="height: 280px;">
          </div>
          <div class="back">
          <div class="card-divider">
            <h2>{{item.name}}</h2>
          </div>
          <div class="card-section">
            <div class="small-11 large-11 columns" style="text-align: center;">
              <br>
              <ul>
                <li>Style: {{item.style}}</li>
                <li>Brand: {{item.brands}}</li>
              </ul>
            </div>
              <div class="iconer2">
                <a href="#" class="right"><i class="fi-share"></i></a>
                <a ng-click="favorite()" class="right"><i class="fi-heart"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
