<section class="hero">
  <div class="row intro">
    <div class="small-centered medium-uncentered medium-7 large-12 columns">
      <h1>See you at the Club!</h1>
      <h2>Experience the latest fashion and hottest destinations</h2>
    </div>
  </div>
</section>


<div class="large-3 large-centered columns">
  <div class="login-box">
  <div class="row">
  <div class="large-12 columns">
    <form ng-submit="login(username, password)">
       <div class="row">
         <div class="large-12 columns">
             <input type="text" name="username" placeholder="Username" ng-model="username"/>
         </div>
       </div>
      <div class="row">
         <div class="large-12 columns">
             <input type="password" name="password" placeholder="Password" ng-model="password"/>
         </div>
      </div>
      <div class="row">
        <div class="large-12 large-centered columns">
          <input type="submit" class="button expand blackButton" value="Log In"/>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>
