<div class="row">
  <div class="medium-6 large-4 columns" ng-repeat="club in clubs">
    <article class="article-card">
      <img ng-src="{{club.image}}">
      <div class="card-content">
        <h4>Pulp Fiction brought guns, gimps, and glory to the Cannes Film Festival</h4>
        <p>If my answers frighten you then you should cease asking scary questions. Zed's dead, baby. Zed's dead. I love you, Pumpkin. I love you, Honey Bunny. All right, everybody be cool, this is a robbery!</p>
        <p>
          <a href="#">hit the club</a>
          <a href="#" class="right"><i class="fi-share"></i></a>
          <a href="#" class="right"><i class="fi-heart"></i></a>
        </p>
      </div>
    </article>
  </div>
</div>
