<div id="where-to">
  <h1>Where are we going tonight?</h1>
</div>

<div class="row">
  <br>
  <div class="medium-6 large-4 columns" ng-repeat="club in clubs">
    <article class="article-card">
      <img ng-src="{{club.image}}">
      <div class="card-content">
        <h4>{{club.name}}</h4>
        <p>{{club.overview}}</p>
        <p>
          <a href="{{club.url}}">learn more</a>
          <a href="#" class="right"><i class="fi-share"></i></a>
          <a class="like right" ng-click="addToFavoriteClubs(club)"><img src="/img/like.png" alt="" /></a>
        </p>
      </div>
    </article>
  </div>
<button type="button" name="button" id="skipIt" ng-click="skip()">Skip</button>
</div>
