<div class="row">
  <div class="medium-6 large-4 columns" ng-repeat="club in clubs">
    <article class="article-card">
      <img ng-src="{{club.image}}">
      <div class="card-content">
        <h4>{{club.name}}</h4>
        <p>{{club.overview}}</p>
        <p>
          <a href="club.url">learn more</a>
          <a href="#" class="right"><i class="fi-share"></i></a>
          <a href="#" class="right"><i class="fi-heart"></i></a>
        </p>
      </div>
    </article>
  </div>
</div>
