body {
  background: #F0F0F3;
}
.login-box {
  background: #fff;
  border: 1px solid #ddd;
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}

.card {
  border: 1px solid gray;
  height: 460px !important;
  box-shadow: 5px 5px 5px #888888;
}

.card.clothes {
  border: 1px solid gray;
  height: 450px !important;
  box-shadow: 5px 5px 5px #888888;
  padding: 1px;
}

.card-divider {
  border: 1px solid gray;
  background-color: black;
  text-align: center;
}

.card-divider h2 {
  color: white;
  font-family: 'Philosopher', sans-serif;
  font-size: 24px;
}

.theClubs {
  padding: 10px;
}

.theItems {
  padding: 5px;
}

#map {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.esriStopsContainer {
  margin-top: 45px !important;
}

#map_zoom_slider {
  margin-top: 40px !important;
}

.top-bar {
  z-index: 1 !important;
}

#addCollection {
  width: 120px;
  font-size: 18px;
  padding: 0;
}

.card-section li{
  display: block;
}

#buttoncenter {
  text-align: center;
  margin-top: -15px;
}


.color {
  background-color: blue;
}

.box {
  border: 1px black solid;
  height: 45vh;
  margin-bottom: 10px;
}
.boxtwo {
  border: 1px black solid;
  height: 50vh;
}

.innerbox {
  padding: 10px;
  border-bottom: 3px solid black;
  font-size: 1.5em;
}

.sliderimg {
  height: 200px;
}
/*
.sliderimg img {
  height: 100%;
}*/

.orbit-container img {
    display: block;
    max-width: 100%;
}

.orbit-bullets li {
    background: #CCCCCC;
    cursor: pointer;
    display: inline-block;
    float: none;
    height: 0.5625rem;
    margin-right: 6px;
    width: 0.5625rem;
    border-radius: 1000px;
}

.orbit-caption {
  bottom: 0;
  position: absolute;
  background-color: rgba(51, 51, 51, 0.8);
  color: #FFFFFF;
  font-size: 0.875rem;
  padding: 0.625rem 0.875rem;
  width: 100%;
}

.card {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-perspective: 5000;
  perspective: 5000;
}

.card .container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.card .container .front, .card .container .back {
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .container .front .row, .card .container .front .column, .card .container .front .columns, .card .container .back .row, .card .container .back .column, .card .container .back .columns {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .container .front {
  z-index: 2;
}

.card .container .back {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: scroll;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card .container:hover {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
}

.card .container {
  border: solid 1px #eeeeee;
}

.card .container .front, .card .container .back {
  padding: 1em;
}

.card.square .container {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

/*where-to cards*/
.article-card {
  border: 1px solid #d7d7d7;
  margin-bottom: 1.5rem;
  height: 450px;
  box-shadow: 2px 4px 5px 0px #d7d7d7; }
  .article-card .card-content {
    background: #fff;
    margin: 1.25rem; }
    .article-card .card-content .post-author {
      text-align: center; }
    .article-card .card-content h4 {
      color: #CF000F; }
    .article-card .card-content p {
      color: #757D75; }
    .article-card .card-content a i {
      font-weight: 300;
      color: #757D75;
      margin: 0 .5rem;
      padding: 5px 7px 5px 7px;
      border: 1px solid #757D75;
      border-radius: 50%; }
    .article-card .card-content img.post-icon {
      position: absolute;
      width: 3rem;
      border-radius: 50%;
      margin-top: -3rem; }

.hero {
  background: url("../img/splash2.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  color: white;
}
.hero .intro {
  padding: 3rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.hero h1 {
  color: #fff;
  font-size: 5rem;
  line-height: 1.5em;
  letter-spacing: -0.025em;
  font-weight: 300;
  text-align: center;

}

ul.right li a {
  font-size: 16px !important;
}

.coolBrand {
  font-family: 'Philosopher', sans-serif;
  color: white;
  font-size: 34px;
}

.hero h2 {
  color: #fff;
  line-height: 1.75em;
  font-weight: 200;
  text-align: center;
  margin-bottom: 2rem;
    text-shadow: 2px 2px #000;
}

button, .button  {
  background-color: black;
  border-color: black;
}

button, .button:hover, .button:active, .button:focus  {
  background-color: black;
  border-color: black;
}

.dijitDialogPaneContentArea {
  background-color: white !important;
  margin-top: 20px;
}

#dijit_Dialog_0 {
  background-color: white !important;
}

.dijitReset.dijitInputField.dijitValidationIcon.dijitValidationInner {
  display: none !important;
}


.texture {
  background-image: url("../img/texture.png");
}

.overflowHide {
  overflow: hidden;
}

div#where-to {
    text-align: center;
}
button#skipIt {
    color: white;
    float: right;
    border-radius: 86px;
    width: 200px;
    font-size: 22px;
    line-height: 22px;
}
a i {
  font-weight: 300;
  color: #757D75;
  margin: 0 .5rem;
  padding: 5px 7px 5px 7px;
  border: 1px solid #757D75;
  border-radius: 50%;
}

.iconer {
  margin-top: -5px;
}
.iconer2 {
  margin-top: -5px;
}
